{
    "celery":{
        "broker":{
            "host": "redis://127.0.0.1:6379/0"
        },
        "backend":{
            "host": "redis://127.0.0.1:6379/2"
        },
        "time_limit": "120"
    },
    "data_store": {
        "RedisSink": {
            "host": "127.0.0.1",
            "port": 6379
        }
    },
    "output_sink": {
        "GraphiteSink": {
            "host": "storage.metrics.eu-west-1.net0ps.com",
            "port": 2003,
            "url": "graphite.netOps.eu.com"
        }
    }
}